GNU ARM v7.2.1 - Default/
ei-workspace/edgeimpulse/edge-impulse-sdk/
ei-workspace/edgeimpulse/model-parameters/
ei-workspace/edgeimpulse/tflite-model/
ei-workspace/edgeimpulse/utensor-model/
build/
ei-workspace/build
